html,body  {
  font-size: 2rem;
  font-family: Boogaloo;
  margin: 0;
  padding: 0;
}
.area-subscribers .streak {
  color: yellow;
}
.header {
  font-size: 4rem;
}

.scene-soon {
  width: 1840px;
  height: 1000px;
  display: grid;
  grid-template-rows: 1.2fr 5fr;
  margin: 0rem;
  background-color: #272537;
  color: #f8f8f8;
  padding: 40px;
}

.area-map {
  position: relative;
}

.area-map .leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: 1rem;
}
.leaflet-control-container {
  display: none;
}

.area-map .checkin-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.area-map .checkin-info .aligner {
  position: absolute;
  top: 55%;
  text-align: center;
  width: 100%;
}

.area-map .checkin-info .aligner .box {
  position: relative;
  left: 0.5rem;
  display: inline-block;
  background-color: white;
  color: black;
  z-index: 2;
  text-align: left;
  padding-left: 1.25rem;
  padding-top: 0.2rem;
  padding-right: 1.25rem;
  padding-bottom: 0.2rem;
  text-align: center;
  border-radius: .4em;
}

.area-map .checkin-info .aligner .box:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #ffffff;
	border-top: 0;
	border-left: 0;
	margin-left: -10px;
	margin-top: -20px;
}

.area-map .checkin-info .aligner .box .profile .display-name {
  font-size: 1.4rem;
}
.area-map .checkin-info .aligner .box .profile .location {
  font-size: 1rem;
  font-style: italic;
}
.area-map .checkin-info .aligner .box.subscriber {
  background-color: yellow;
  font-size: 1rem;
  color: black;
}
.area-map .checkin-info .aligner .box.subscriber:after {
  border-bottom-color: yellow;
  font-size: 1rem;
  color: black;
}
.area-map .checkin-info .aligner .box .display-name {
  font-style: italic;
  font-size: 1rem;
}
.area-map .checkin-info .aligner .box .display-name {
  font-size: 2rem;
}
.area-map .checkin-info .aligner .box .status {
  font-style: italic;
  font-size: 2rem;
}

.area-counter {
  width: 100%;
  grid-template-rows: 1fr 3fr;
  justify-content: left;
}
.area-counter .label {
  display: inline-block;
  font-size: 3.4rem;
  font-weight: bold;
  background-color: yellow;
  color: black;
  padding: 0.0rem 0.8rem 0.3rem 0.8rem;
  position: relative;
  transform: rotate(-2deg);
}


.pop-note {
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.2rem;
  max-width: 27rem;
  background-color: black;
  padding: 1rem 1rem 1rem 1rem;
  z-index: 2;
  transform: rotate(3deg);
}

.pop-note.checkin-instructions {
  position: absolute;
  right: 25%;
  top: 25%;
}

.pop-note.unique-chatters {
  font-size: 2rem;
  z-index: 3;
  position: absolute;
  top: 4.2rem;
  left: 42rem;
  transform: rotate(-3deg);
}

.pop-note.unique-chatters .counter {
  color: yellow;
}

.checkin-instructions .command {
  color: yellow;
  display: block;
}

.area-counter .countdown {
  display: inline;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.scene-spotlight {
  width: 1920px;
  height: 1080px;
  position: absolute;
}

.scene-spotlight .big-topic {
  background-color: yellow;
  color: black;
  font-size: 3rem;
  position: absolute;
  left: -2rem;
  top: 2.10rem;
  padding-left: 3.2rem;
  padding-right: 1rem;
  clip-path: polygon(0 0, 1% 0, 1% 100%, 0% 100%);
  transform-origin: 0%;
  white-space: nowrap;
}

.scene-moderator .topic-label {
  display: inline-block;
  padding: 0.5rem;
  border: 1px solid grey;
  margin: 0.5rem;
}
.scene-moderator .topic-label label {
  display: block;
}
.scene-moderator .topic-label input {
  font-size: 3rem;
  margin-right: 0.3rem;
  padding: 0.4rem;
}
.scene-moderator .display-name {
  font-size: 1rem;
}

.scene-spotlight .message-body {
  font-size: 1.5rem;
}

.scene-spotlight .top-boxes {
  padding: 1rem;
}

.scene-spotlight .box {
  background-color: white;
  border-radius: .3em;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  float: left;
  margin-right: 1rem;
  max-width: 20rem;
  max-height: 4rem;
}
.scene-spotlight .box .box-header {
  font-size: 1rem;
  color: grey;
}
.scene-spotlight .box .box-body {
  font-size: 2rem;
}
.scene-spotlight .box.message {
  min-width: 10rem;
  max-width: 30rem;
}

.scene-spotlight .box.message .box-body {
  font-size: 0.65rem;
}

.scene-spotlight .subscriber-notification {
  position: absolute;
  bottom: 2rem;
  left: 3rem;
}

.scene-moderator .message.active{
  color: red;
}

